.bevan-regular {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .bevan-regular-italic {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: italic;
  }